
!alu-main/*
!reg-main/*
multdiv-main/*
multdiv-main/multdiv
SDF-FFT/*
FFT/*
# !multdiv-main/*.v
# Include .v files
!*.v
# Include .csv files
!*.csv
# Include .txt files
!*.txt
# Include README files
!*/README.md
!alu-main/README.md
!**/README*
# Include .gitignore file
!*.gitignore

# Ignore .vcd files
*.vcd
**/*.vcd
**/*.mem
*.html
*.pyc
*.vvp
