
!alu-main/*
!reg-main/*
multdiv-main/*
multdiv-main/multdiv
SDF-FFT/*
FFT/*
# !multdiv-main/*.v
# Include .v files
!*.v
# Include .csv files
!*.csv
# Include .txt files
!*.txt
# Include README files
!*/README.md
!alu-main/README.md
!**/README*
# Include .gitignore file
!*.gitignore

# Ignore .vcd files
*.vcd
**/*.vcd
*.html
*.pyc
*.vvp


# Source files
!*.vhd
!*.v
!*.sv
!*.bd
!*.edif

# IP files
!*.xci
!*.xcix
!*.dcp
!*.vds
!*.pb

# System Generator
!*.mdl
!*.slx
!*.bxml

# Simulation logic analyzer
!*.wcfg
!*.coe

# MIG
!*.prj
!*.mem

# Project files
!*.xpr
!*.xml

# Constraint files
!*.xdc

# TCL files
!*.tcl

# Journal files
!*.jou

# Reports
!*.rpt
!*.txt
!*.vdi

# C-files
!*.c
!*.h
!*.elf

